:root {
    --primary-color: #16213E;
    --secondary-color:#0F3460;
    --buttton-color:#3d2069;
    --text-color:#ffffff;
  }

.game-body{
    background: var(--primary-color);
    color: var(--text-color);
  
  }
  .mainbutton{
    padding:1rem 3rem;
    border:none;
    background: var(--buttton-color);
    font-size: 2rem;
    cursor: pointer;
    margin:10px;
    border-radius: 5px;
    color: var(--text-color);
  
  }
  .headdingflex{
    display:flex;
    color:var(--text-color);
    justify-content: space-between;
    
  }
  .headdingflex >h4{
    margin:20px;
  }
  .headingtext{
    margin:2rem;
    text-align: center;
  }
  .divider{
    background-color:#E94560;
    height: 1rem;
    margin:5rem 0rem;
  }
  
  .game-input{
  border:none;
  outline:none;
  width:20rem;
  height:10rem;
  font-size: 90px;
  margin: 0px;
  text-align: center;
  color: var(--primary-color);
  
  }
  .buttomflex{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin:10px;
  
  }
  .notmatched{
    color:red;
  }
  .matched{
    color:green;
  }
  .initial{
    color:yellow;
  }


